body{
  background-color: #F3F3F3;
}
.steps_div{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-left: 103px;
    
}

.steps_div a{
    font-size: 16px;
    text-decoration: none;
    color: #282828;
}
.m_another_div_class{
  background-color: #fff;
  width: 265px !important;
  /* background: #F3F3F3; */
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
}
.m_another_div_class:hover{
  border: 1px solid #FBBA00;
  transition: 0s;
}
.m_another_div_class:hover{
  
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
  /* transition: .1s ease; */
}
.another_represent{
  background-color: #fff;
  width: 265px !important;
  /* background: #F3F3F3; */
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
}
.another_represent:hover{
  border: 1px solid #FBBA00;
  transition: 0s;
}
.another_represent:hover{
  
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
  /* transition: .1s ease; */
}
.birdmaling{
  background-color: #fff;
  width: 265px !important;
  /* background: #F3F3F3; */
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
}
.birdmaling:hover{
  border: 1px solid #FBBA00;
  transition: 0s;
}
.birdmaling:hover{
  
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
  /* transition: .1s ease; */
}


.recovery_station{
  background-color: #fff;
  width: 265px !important;
  /* background: #F3F3F3; */
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
}
.recovery_station:hover{
  border: 1px solid #FBBA00;
  transition: 0s;
}
.recovery_station:hover{
  
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.23);
  /* transition: .1s ease; */
}

.global_filter_div{
  width: 308px;
    height: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 29px 25px 30px 25px;
    border-radius: 10px;
    background-color: white;
}
.first_filter_div{
  width: 100%;
}
.small_big_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.small_big_filter span{
    font-size: 22px;
    font-weight: 700;
}
.small_big_filter_ button{
    border: none;
    background-color: #ffff;
}
.small_big_filter_{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.small_big_filter_ span{
  font-size: 22px;
  font-weight: 700;
}
.small_big_filter button{
  border: none;
  background-color: #ffff;
}
.width_height_div{
  transform: translate(0px, 40%);
  opacity: 0;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 15px;
  padding-bottom: 25px;
  transition: all .8s ease 0s;
}
.width_height_div__active{
  display: none;
  transform: translate(0px, 0px);
  opacity: 1;
}
.input_filter_div__active{
  display: none;
  transform: translate(0px, 0px) !important;
  opacity: 1 !important;
}
.summer_winter_urb__active{
  display: none;
  transform: translate(0px, 0px) !important;
  opacity: 1 !important;
}
.fld_filter{
    display: flex;
    column-gap: 21px;
    align-items: center;
}
.fld_filter span{
  color: #686868;
  font-size: 18px;
  width: 128px;
  display: flex;
  column-gap: 5px;
  align-items: center;
}


.dropdown .dropbtn{
  color: white;
  font-weight: 700;
}
.dropbtn svg{
    width: 10px;
    height: 10px;
}


/* .dropdown {
  position: relative;
  display: inline-block;
} */

.dropbtn_111 {
  background-color: transparent;
  color: white;
  width: 145px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_111 {
  position: relative;
  display: inline-block;
}

.dropdown-content_111 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_111 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_111 a:hover {background-color: #b9b9b9}

.dropdown_111:hover .dropdown-content_111 {
  display: block;
}
/* Dropdown filter */


.dropbtn_777 {
  background-color: white;
  color: black;
  width: 145px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  border: none;
  border: 1px solid;
  cursor: pointer;
}

.dropdown_777 {
  position: relative;
  display: inline-block;
}

.dropdown-content_777 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_777 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_777 a:hover {background-color: #f1f1f1}

.dropdown_777:hover .dropdown-content_777 {
  display: block;
}

/* Dropdown filter end */

.dropbtn_888 {
  background-color: white;
  color: black;
  width: 145px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  border: none;
  border: 1px solid;
  cursor: pointer;
}

.dropdown_888 {
  position: relative;
  display: inline-block;
}

.dropdown-content_888 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_888 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_888 a:hover {background-color: #f1f1f1}

.dropdown_888:hover .dropdown-content_888 {
  display: block;
}

.dropbtn__333 {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown__333 {
  position: relative;
  display: inline-block;
}

.dropdown-content__333 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content__333 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content__333 a:hover {background-color: #b9b9b9}

.dropdown__333:hover .dropdown-content__333 {
  display: block;
}

.dropbtn_444 {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.dropdown_444 {
  position: relative;
  display: inline-block;
}
.dropdown-content_444 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_444 .trtty {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_444 .trtty:hover {background-color: #b9b9b9}

.dropdown_444:hover .dropdown-content_444 {
  display: block;
}

.global_filter_div_number_two{
  display: none !important;
}


.dropbtn_999 {
  background-color: white;
  color: black;
  width: 145px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  border: none;
  border: 1px solid;
  cursor: pointer;
}

.dropdown_999 {
  position: relative;
  display: inline-block;
}

.dropdown-content_999 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_999 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_999 a:hover {background-color: #f1f1f1}

.dropdown_999:hover .dropdown-content_999 {
  display: block;
}



/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;} */



.zero{
  display: none;
}

.summer_winter_urb{
  transform: translate(0px, 40%);
  opacity: 0;
}
.input_filter_div{
    transform: translate(0px, 40%);
    opacity: 0;
    display: none;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 34px;
    transition: all .8s ease 0s;
}
.input_divs_filter_flex{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  column-gap: 10px;
}
.input_divs_filter_flex input{
  width: 115px;
  height: 35px;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  color: #686868;
}
.input_divs_filter_flex input::-webkit-outer-spin-button,
.input_divs_filter_flex input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=range] {
  width: 100%;
  height: 1px;
  padding-top: 15px;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #FBBA00;
  border-radius: 6.2px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -13.9px;
  width: 29px;
  height: 28px;
  background: #FBBA00;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FBBA00;
}
input[type=range]::-moz-range-track {
  background: #FBBA00;
  border-radius: 6.2px;
  width: 100%;
  height: 12.6px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 19px;
  height: 39px;
  background: #FBBA00;
  border: 2.2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.2px 0;
  color: transparent;
  width: 100%;
  height: 12.6px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #FBBA00;
  border: 0.7px solid #FBBA00;
  border-radius: 12.4px;
}
input[type=range]::-ms-fill-upper {
  background: #FBBA00;
  border: 0.7px solid #FBBA00;
  border-radius: 12.4px;
}
input[type=range]::-ms-thumb {
  width: 19px;
  height: 39px;
  background: #FBBA00;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #FBBA00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FBBA00;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
.summer_winter_urb{
  transition: all .8s ease 0s;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 25px;
  
}
.smae_div_urb{
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.smae_div_urb span{
  color: #686868;
  font-size: 18px;
}
.creator_div_an{
  display: none;
  flex-direction: column;
}
.creator_div_an a{
  color: #282828;
  padding-top: 15px;
  font-size: 18px;
  padding-bottom: 25px;
}
.creator_div_an a:hover{
  color: #FBBA00;
}
.another_sum_win{
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.yes_div_on_bot{
  display: none;
}
.sbf_btn svg{
  cursor: pointer;
}
.global_global_div{
  display: flex;
  column-gap: 18px;
  width: 100%;
  padding: 35px 102px 0 103px;
  /* background-color: #E5E5E5; */
}
.global_attach_div{
    width: 100%;
}
.filter_im_tools{
  height: 68px;
  /* background-color: #F3F3F3; */
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 35px 0 35px;
  justify-content: space-between;
}

/* style for the css menu dropdown container */


/* style the links in the dropdown */
.menu-dropdown a {
    background:transparent;
    border:none;
    outline:0;
    display:block;
    color:white;
    text-decoration:none;
    width:160px;
    padding:5px;
}
.show_filters_div{
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.show_filters_div button{
  padding: 9px 18px 9px 20px;
  display: flex;
  align-items: center;
  column-gap: 100px;
  border: none;
}
.catalog_a_href{
  border: 1px solid #686868;
  padding: 10px 17px 10px 16px;
}
.catalog_a_href{
  width: 179px;
  display: flex;
}
.ahref{
  border: 1px solid #686868;
  height: 37px;
  width: 179px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;
  border-radius: 5px;
}
.anul_div_ark{
  display: flex;
  column-gap: 15px;
  padding-top: 16px;
}
.m3_slider .slick-dots li{
  display: none;
}
.media_544_px{
  display: flex;
  column-gap: 15px;
}
.lists{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 102px;
  column-gap: 30px;
  padding-top: 42px;
  padding-bottom: 45px;
  
}
.second_anul_div{
  display: none;
}

.lists .active_first_relay{
  border-bottom: 1px solid #FBBA00;
}
 .lists a{
  color: #282828;
  text-decoration: none;
  border-bottom: 1px solid #F3F3F3;
}
.lists a:hover{
  border-bottom: 1px solid #FBBA00;
}
.filter_famous{
  display: none;
}
@media(max-width: 1844px){
  .global_global_div{
    padding: 35px 102px 0 50px;
  }
}
@media(max-width: 1700px){
  .anul_div_ark{
    flex-wrap: wrap;
  }
  .m_another_div_class{
    display: none;
  }
  .usl_span_2{
    display: none;
  }
}
@media(max-width: 1559px){
  .m3sl_45{
    width: 245px !important;
  }
  .m3sl_1_p{
    width: 100%;
  }
}
@media(max-width: 1566px){
    .another_represent{
      display: none;
    }
    .anul_div_ark{
      display: none;
    }
    .second_anul_div{
      margin-top: 18px;
      width: 100%;
      display: flex;
      column-gap: 13px;
      row-gap: 18px;
      flex-wrap: wrap;
    }
}
@media(max-width: 1584px){
  .ahref{
    width: 150px !important;
  }
}
@media(max-width: 1516px){
  .usl_span_2 svg{
    width: 300px;
  }
}
@media(max-width: 1469px){
  .m3sl_45{
    width: 220px !important;
  }
  .ahref{
    font-size: 10px;
  }
  .m3sl_1_prp_sp1{
    font-size: 9px;
  }
}
@media(max-width: 1420px){
  .usl_span_2 svg{
    width: 200px;
  }
}
@media(max-width: 1380px){
  .global_global_div{
    padding-right: 79px;
  }
}
@media(max-width: 1356px){
  .second_anul_div{
    column-gap: 8px;
  }
}
@media(max-width: 1341px){
  .global_global_div{
    padding-right: 40px;
  }
}
@media(max-width: 1303px){
  .m3sl_45{
    width: 215px !important;
  }
}
@media(max-width: 1310px){
  .main_3{
    padding: 51px 40px 45px;
  }
  .ahref{
    width: 120px !important;
  }
}
@media(max-width: 1285px){
  .anul_div_ark{
    flex-wrap: nowrap;
  }
}
@media (max-width: 1204px){
  .filter_im_tools{
    display: none;
  }
  .global_filter_div_number_two{
    display: block !important;
  }
  .global_filter_div{
    /* display: none; */
    height: 100%;
  }
  .global_global_div{
    flex-direction: column;
  }
  .filter_famous{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
  }
  .global_filter_div_parent5{
    display: none;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    transform: translate(0, -50%);
    opacity: 0;
    transition: .8s ease all 0s;
    visibility: hidden;
  }
.global_filter_div_parent5_active{
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(0, 0);
}
  .filter_famous button{
    padding: 11px 34px 10px 13px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #282828;
    font-size: 16px;
    background-color: white;
    border-radius: 6px;
    color: #000000 !important;
  }
  .first_filter_div{
    width: 100%;
  }

  .filter_meida_famous{
    padding: 11px 34px 10px 13px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #282828;
    border-radius: 6px;
  }
  .anul_div_ark{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  .second_anul_div{
    display: none;
  }
  .m3sl_45{
    width: 265px !important;
  }
  .dropbtn_catalog {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown_catalog {
  position: relative;
  display: inline-block;
}

.dropdown-content_catalog {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_catalog a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_catalog a:hover {background-color: #ddd;}

.dropdown_catalog:hover .dropdown-content_catalog {display: block;}

}
@media(max-width: 1193px){
  .usl_span_2 svg{
    width: 150px;
  }
}
@media(max-width: 1134px){
  .usl_span_2 svg{
    width: 50px;
  }
}
@media(max-width: 1024px){
  .steps_div{
    margin-left: 0;
    justify-content: flex-start;
    padding-left: 15px;
  }
  .usl_span_1{
    display: none;
  }
  .usl_span_2{
    display: none;
  }
}
@media(max-width: 1000px){
  .global_global_div{
    padding: 0;
  }
  .anul_div_ark{
    justify-content: center;
  }
  .zero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
  }
  .logos_filter{
    display: none;
    align-items: center;
    column-gap: 16px;
  }
}


@media(max-width: 870px){
  .uslug_span span{
    font-size: 30px;
  }
  section{
    padding-top: 180px;
  }
}
@media(max-width: 828px){
  .m_another_div_class{
    display: none;
  }
}
@media(max-width: 824px){
  .recovery_station{
    display: none;
  }
  .birdmaling{
    display: none;
  }
}
@media(max-width: 700px){
  .uslug_span span{
    font-size: 23px;
  }
}
@media(max-width: 699px){
  .lists{
    justify-content: center;
    padding-right: 0;
    padding-top: 15px;
    align-items: center;
  }
}
/* @media(max-width: 600px){
  .m3sl_1{
    margin-left: 60px !important;
  }
} */
@media(max-width: 588px){
  .uslug_span span{
    font-size: 17px;
    width: 260px;
  }
  .uslug_a{
    font-size: 12px;
  }
  .m3sl_45{
    width: 200px !important;
  }
  .m3sl_1_p{
    width: 100%;
  }
  .m3sl_1_prp{
    font-size: 11px;
  }
  .ahref{
    width: 100%;
    font-size: 11px;
  }
}
@media(max-width: 542px){
  .m3sl_1_p{
    width: 100%;
  }
}
@media(max-width: 520px){
  .m3sl_45{
    width: 200px !important;
    padding-left: 10px;
    padding-right: 5px;
  }
  .m3sl_1_prp{
    font-size: 11px;
  }
  /* .usl_span_1, .usl_span_2{
    display: none;
  } */
}
@media (max-width: 492px){
  .main_3{
    padding: 51px 14px 45px;
  }
  .m3_slider{
    padding-left: 73px;
  }
  .firstblock {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(max-width: 420px){
  .filter_famous{
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
  .zero{
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media(max-width: 414px){
  .m3sl_45{
    width: 150px !important;
  }
  .slick-slider button{
    width: 150px !important;
  }
  section{
    padding-top: 111px;
  }
  /* .anul_div_ark :nth-child(2){
    display: none;
  }
  .anul_div_ark :nth-child(3){
    display: none;
  } */
  .lists{
    padding-bottom: 0;
  }
  .anul_div_ark{
    padding-top: 10px;
  }
  .media_544_px{
    column-gap: 12px;
  }
  /* .m3sl_1{
    margin-left: 60px !important;
    width: 231px !important;
  } */
  .ahref{
    width: 100%;
    font-size: 9px;
  }
  .ahref{
    width: 93px !important;
  }
}
@media(max-width: 390px){
  .m3sl_1{
    margin-left: 17px !important;
  }
  .m3_slider{
    padding-left: 40px;
  }
}
@media(max-width: 375px){
  .anul_div_ark{
    padding-left: 30px;
    justify-content: unset;
  }
  .m3sl_1_card{
    justify-content: space-around !important;
  }
  .start_slider_improving{
    justify-content: unset !important;
  }
  .m3sl_1{
    width: 330px !important;
  }
  .m6_slider_88 .slick-list, .m6_slider .slick-list{
    height: 548px !important;
  }
  footer{
    margin-top: 0;
  }
}