section{
    padding-left: 103px;
    padding-right: 102px;
}
.contact_text span{
    font-size: 40px;
    font-weight: 700;
}
.flex_column_argument span{
    font-size: 23px;
}
.flex_column_argument a{
    font-size: 35px;
    text-decoration: none;
    color: #282828;
    font-weight: 700;
}
.flex_column_argument{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.phone_contact_and_column{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.phone_email_other_contact{
    padding-top: 76px;
    display: flex;
    column-gap: 176px;
}
.map_contact_above{
    width: 100%;
}
.contact_particluar_option{
    background-color: #FBBA00;
    padding: 7px 67px;
    border-radius: 5px;
    border: 1px solid #FBBA00;
    transition: .3s ease;
}
.contact_particluar_option:hover{
    background-color: #f3f3f3;
    color: #FBBA00;
    border: 1px solid #FBBA00;
}
.hr_class_contact{
    margin-top: 45px;
}
.global_contact_main_div_1{
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    row-gap: 6px;
}
.global_aparat_div{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.fisrt_block_of_row{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 61px;
    padding: 26px 40px 58px 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.dropbtn22 {
    width: 500px;
    color: #686868;
    height: 35px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #686868;
    border-radius: 5px;
    align-items: center;
  }
  .dropbtn22 svg{
      width: 10px;
      height: 10px;
  }
  .second_block_creation{
      display: flex;
      flex-direction: column;
      row-gap: 11px;
  }
  .second_block_creation img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .map_and_grey_element{
      display: flex;
      padding-top: 35px;
      column-gap: 24px;
  }
  .grey_block_frr{
    width: 570px;
    height: 568px;
    background-color: #8A8A8A;
    border-radius: 10px;
}
.grey_block_frr span{
    color: #8A8A8A;
}
@media(max-width: 1837px){
    .phone_email_other_contact{
        column-gap: 150px;
    }
}
@media(max-width: 1785px){
    .phone_email_other_contact{
        column-gap: 110px;
    }
}
@media(max-width: 1705px){
    .phone_email_other_contact{
        column-gap: 50px;
    }
}
@media(max-width: 1679px){
    .map_and_grey_element {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 50px;
    }
}
@media(max-width: 1585px){
    section{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media(max-width: 1540px){
    .contact_particluar_option {
        padding: 7px 35px;
    }
}
@media(max-width: 1476px){
    .contact_particluar_option{
        padding: 7px 25px;
    }
}
@media(max-width: 1456px){
    .phone_email_other_contact{
        column-gap: 25px;
    }
}
@media(max-width: 1440px){
    .global_aparat_div{
        flex-direction: column;
        row-gap: 30px;
    }
    .global_contact_main_div_1{
        row-gap: 25px;
    }
}
@media(max-width: 1406px){
    section{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width: 1366px){
    .phone_email_other_contact{
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .map_contact_above{
        margin-right: 300px;
        padding-left: 300px;
    }
}
@media(max-width: 928px){
    .phone_email_other_contact{
        justify-content: center;
    }
    .contact_text span{
        display: flex;
        justify-content: center;
    }
    .second_block_creation span{
        font-size: 40px;
        font-weight: 700;
    }
}
@media(max-width: 849px){
    .map_contact_above{
        margin-right: 100px;
        padding-left: 100px;
    }
}
@media(max-width: 709px){
    .global_contact_main_div_1 {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width: 600px){
    .first_max_div_column{
            padding: 31px 10px 25px 35px;
    }
    .map_contact_above{
        margin-right: 20px;
        padding-left: 20px;
    }
}
@media(max-width: 574px){
    .global_contact_main_div_1{
        padding-left: 70px;
    }
    .grey_block_frr{
        width: 370px;
        height: 368px;
    }
}
@media(max-width: 552px){
    .global_contact_main_div_1{
        padding-left: 104px;
    }
}
@media(max-width: 533px){
    .phone_contact_and_column{
        flex-direction: column;
    }
    .phone_email_other_contact{
        row-gap: 50px;
    }
    .flex_column_argument span{
        display: flex;
        justify-content: center;
    }
    .flex_column_argument{
        row-gap: 30px;
    }
}
@media(max-width: 504px){
    .first_max_div_column {
        padding: 31px 10px 25px 45px;
    }
    .media_recover_div{
        width: auto !important;
    }
    .dropbtn22{
        width: 100%;
    }
    .global_contact_main_div_1{
        width: 100%;
    }
    .global_contact_main_div_1{
        padding: 0;
    }
    
}

@media(max-width: 463px){
    .first_max_div_column {
        align-items: center;
    }
    .media_recover_div{
        padding-left: 100px;
    }
}
@media(max-width: 451px){
    .media_recover_div{
        width: auto;
        padding-left: 0;
    }
    .border_fot button{
        font-size: 17px;
    }
}
@media(max-width: 443px){
    section{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width: 375px){
    .grey_block_frr{
        width: 270px;
        height: 260px;
    }
}