/* header  222*/
.brg_a_div{
    display: none;
    justify-content: center;
    align-items: center;
    width: 29.37px;
    background: #FFFFFF;
    border-radius: 4px;
    height: 29.37px;
}
.burger_menu{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 18px;
    padding: 16px 103px 18px 103px;
    top: 73px;
    z-index: 99;
    background: #3C3C3C;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    border: 1px solid red;
}
.bgm_1_12{
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    border-radius: 4px;
    width: 19.59px;
    height: 19.59px;
}
.burger_menu a{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
}
.burger_menu a:hover{
    color: #FBBA00;
}
.burger_menu_span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.bgm_1{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.bgm_1 span{
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.bgm_1_1{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}
/*End header  222*/