body{
    overflow-x: hidden;
    background-color: #f3f3f3;
}
header{
    margin-bottom: 0 !important;
}
/*  */
/*  */
.quantity_inner * {
    box-sizing: border-box;    
}   
.m3_slider .slick-dots li{
    display: none;
} 
.mp_1421_1 :nth-child(2), .mp_1421_2 :nth-child(2), .mp_1421_3 :nth-child(3), .mp_1421_4 :nth-child(3), .mp_1421_5 :nth-child(3){
    display: none;
}
.photo_and_procent input{
    display: none;
}
.quantity_inner {
    display: flex;
    justify-content: center;
    border: 2px solid #FBBA00;
    box-sizing: border-box;
    border-radius: 5px;
    width: 72px;
    margin-left: 35px;
    height: 32px;
    align-items: center;
}        
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
        /* color: #BFE2FF; */
    /* height: 32px; */
    /* width: 22px; */
    /* padding: 4px; */
    /* margin: 10px 2px; */
    /* border-radius: 10px; */
    border: none;
    background: #fff;
    cursor: pointer;
    outline: 0;
    /* box-shadow: 0 2px 5px rgb(0 0 0 / 20%), 0 4px 6px rgb(0 0 0 / 20%); */
}
.mp1_3_3_1 a:hover svg path{
    fill: #FBBA00;
}
.quantity_inner .quantity {
    width: 29px;
    text-align: center;
    font-size: 22px;
    color: #000;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #656565;
    width: 14px;
    stroke-width: 2;
    transition: 0.5s;
}
    /* margin: 4px;
    

/*  */
/*  */
.mp_1{
    padding: 35px 102px 0 103px;
    background-color: #fff;
}
.fld_25pr{
    display: none;
}
.steps_div {
    flex-wrap: wrap;
    margin-top: 35px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.steps_div a {
    font-size: 16px;
    text-decoration: none;
    color: #282828;
}
/* Sliders */
.main_productPage .m3_slider .slick-dots{
    z-index: 99;
}

.main_3{
    padding: 0 103px 45px;
}
/* End Sliders */

/* main 3 */

.mp1_3{
    display: flex;
    column-gap: 28px;
    margin-top: 50px;
    width: 100%;
}
.mp1_3_1{
    position: relative;
    width: 122px;
    display: flex;
    row-gap: 0;
    align-items: center;
    flex-direction: column;
}
.mp1_3_1-active{
    border: 2px solid #FBBA00 !important;
}
.mp1_3_1_1{
    border: 2px solid #fff;
    padding: 11px 5px 12px 5px;
    width: 120px;
    height: 119px;
}
.mp1_3_1_1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mp1_3_1_2{
    padding: 11px 5px 12px 5px;
    width: 120px;
    height: 119px;
}
.mp1_3_1_2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mp1_3_1_3{
    padding: 11px 5px 12px 5px;
    width: 120px;
    height: 119px;
}
.mp1_3_1_3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mp1_3_1_4{
    padding: 11px 5px 12px 5px;
    width: 120px;
    height: 119px;
}
.display_none_1,
.display_none_2,
.display_none_3{
    display: none;
}
.mp1_3_1_4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mp1_3_1_a{
    cursor: pointer;
    position: absolute;
    bottom: 70px;
}
.mp1_3_1_a:hover{
    color: #FBBA00;
}
.mp1_3_1_a_transition{
    transform: translate(0px,0px) !important;
    opacity: 1 !important;
}
.mp1_3_3{
    width: 100%;
}
.mp1_3_3_1{
    display: flex;
    align-items: center;
    column-gap: 111px;
    padding-bottom: 23px;
    border-bottom: 1px solid #282828;
}
.mp1_3_3_1 span{
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #282828;
}
.mp1_3_3_2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.mp1_3_3_2_1{
    display: flex;
    align-items: center;
}
.show_all_local{
    display: none;
}

.mp133_2_a{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    color: #282828;
}
.mp133_2_span{
    margin-left: 12px;
    font-weight: bold;
    font-size: 31px;
    color: #282828;
}
.mp133_2_span_2{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    color: #282828;
    margin-left: 31px;
}
.mp1_3_3_2_2{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.mp1_3_3_2_2 span{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #282828;
    
}
.mp1_3_3_3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #282828;
}
.mp1_3_3_4{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 20px;
}
.mp133_4_1{
    display: flex;
    align-items: center;
}
.mp133_4_1_img_main{
    padding: 3px 10px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    border: 1px solid #FBBA00;
    box-sizing: border-box;
    border-radius: 5px;
}
.mp133_4_1_img_main span{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: rgba(40, 40, 40, 0.7);
}
.mp133_4_1_do{
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 17px;
    padding: 16px 81px 16px 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #282828;
}
.mp133_4_1_sp{
    margin-left: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #282828;
}
.mp133_4_1_sp2{
    margin-left: 39px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #282828;
}
.input{
    margin-left: 35px;
    display: flex;
    align-items: center;
    column-gap: 9px;
    padding: 10px 12px;
    /* width: 72px; */
    border: 1px solid #FBBA00;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}
.input_plc{
    font-style: normal;
    /* font-weight: 900; */
    font-size: 18px;
    line-height: 14px;
    color: #282828;
}
.input_minus,
.input_plus{
    cursor: pointer;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mp133_4_1_add{
    text-decoration: none;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    width: 264px;
    height: 52px;
    background: #FBBA00;
    border-radius: 5px; 
    transition: .3s ease;
}
.mp133_4_1_add:hover{
    border: 1px solid #000;
    background: #fff;
}
.mp133_4_1_add:hover svg path{
    fill: #FBBA00;
}
.mp133_4_1_add:hover span{
    color: #FBBA00;
}
.mp133_4_1_add span{
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #282828;
}
.mp1_4{
    margin-top: 84px;
    display: flex;
    flex-direction: column;
}
.mp1_4_1{
    display: flex;
    align-items: center;
    column-gap: 120px;
}
.mp1_4_1 span{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #282828;
    padding-bottom: 5px;
    opacity: 0.65;
}
.mp1_4_1_active{
    border-bottom: 1px solid #FBBA00;
    opacity: 1 !important;
}
.mp1_4_svg{
    margin-top: 16px;
}

.mp1_4_2_1{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.mp1_4_3{
    margin-bottom: 129px;
    margin-top: 40px;
    display: none;
    column-gap: 91px;
}
.mp1_4_4{
    margin-bottom: 129px;
    margin-top: 40px;
    display: none;
    column-gap: 91px;
}
.mp1_4_4 span{
    font-style: 600;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #282828;
    opacity: 0.7;
}
.mp1_4_3 span{
    font-style: 600;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #282828;
    opacity: 0.7;
}
.mp1_4_2 span{
    font-style: 600;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #282828;
    opacity: 0.7;
}
.mp_1421_1{
    display: flex;
    align-items: center;
    column-gap: 42px;
}
.mp_1421_2, .mp_1421_1{
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
}
.mp_1421_3{
    display: flex;
    align-items: center;
    column-gap: 36px;
}
.mp_1421_4{
    display: flex;
    align-items: center;
    column-gap: 36px;
}
.mp_1421_4_1{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mp_1421_5_1{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mp_1421_5{
    display: flex;
    align-items: center;
    column-gap: 37px;
}
.mp1_4_2{
    margin-bottom: 129px;
    margin-top: 40px;
    display: flex;
    column-gap: 91px;
}

.mp_1422_1{
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
}
.mp_1422_1_1{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mp_1422_2, .mp_1422_3, .mp_1422_4, .mp_1422_5{
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
}
.mp_1422_2_1{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mp_1422_3{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.mp_1422_3_1{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mp_1422_4{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.mp_1422_5{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.mp1_4_2_2{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.mp1_3_1__1{
    display: flex;
    column-gap: 25px;
}
.mp133_4_main{
    display: flex;
    align-items: center;
}
.mp133_4_main_2{
    display: flex;
    align-items: center;
}
.mp133_4_main_a{
    display: none;
}
.mp1_3_1_1_main{
    display: flex;
    flex-direction: column;
}
.popup {
    position: fixed;
    display: none;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 60%;
    z-index: 99;
}
.popup img{
    width: 300px;
    height: 300px;
}
.popup span{
    font-size: 50px;
}
@media (max-width:1898px){
    .mp133_4_1_do{
        width: 190px;
        padding: 16px 63px 16px 8px;
    }
    .mp133_4_1_sp {
        width: 113px;
    }
    .mp133_4_1_sp2 {
        width: 116px;
    }
}
@media (max-width:1820px){
    .mp1_3{
        column-gap: 0;
    }
    .mp1_3_1__1{
        column-gap: 0;
    }
}
@media(max-width: 1761px){
    .mp1_3_2 img{
        width: 374px;
    }
}
@media (max-width:1628px){
    .mp1_4_2 {
        column-gap: 30px;
    }
    .mp133_4_1_add{
        width: 199px;
    }
    .mp133_4_1_add span{
        font-size: 12px;
    }
    .mp133_4_1_do{
        width: 154px;
    }
    .mp1_3_3_1 span {
        font-size: 30px;
    }
    .mp133_2_span {
        font-size: 23px;
    }
    .mp1_4_3 {
        column-gap: 30px;
    }
    .mp1_4_4 {
        column-gap: 30px;
    }
}
@media (max-width:1568px){
    .mp1_4_2 {
        column-gap: 10px;
    }
    .mp1_4_3 {
        column-gap: 10px;
    }
    .mp1_4_4 {
        column-gap: 10px;
    }
}
@media (max-width:1548px){
    .mp1_4_2 {
        flex-direction: column;
        row-gap: 15px;
    }
    .mp_1421_1 :nth-child(2), .mp_1421_2 :nth-child(2), .mp_1421_3 :nth-child(3), .mp_1421_4 :nth-child(3), .mp_1421_5 :nth-child(3){
        display: block;
    }
    .mp1_4_3 {
        flex-direction: column;
        row-gap: 15px;
    }
    .mp1_4_4 {
        flex-direction: column;
        row-gap: 15px;
    }
    .mp1_4_2_1 {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .mp_1421_1 {
        column-gap: 127px;
    }
    .mp1_4_2_1 div{
        align-items: center;
        justify-content: space-between;
    }
    .mp1_4_2_2 div{
        align-items: center;
        justify-content: space-between;
    }
    .mp_1421_2 {
        column-gap: 226px;
    }
    .mp_1421_5 {
        column-gap: 106px;
    }
    .mp_1421_4 {
        column-gap: 108px;
    }
    .mp_1421_3 {
        column-gap: 116px;
    }
    .mp1_4_svg {
        width: 100%;
        
    }
    .mp1_4_1{
        justify-content: center;
    }
}
@media (max-width:1532px){
    .mp133_4_1_sp2{
        font-size: 15px;
    }
    .mp133_4_1_sp{
        font-size: 18px;
    }
    .mp133_4_1_sp2,.mp133_4_1_add, .mp133_4_1_sp {
        margin-left: 15px;
    }
    .mp1_3_3_3 {
        font-size: 21px;
    }
}
@media(max-width: 1470px){
    .mp1_3_2 img{
        width: 247px;
    }
}
@media(max-width: 1344px){
    .mp133_4_1_add{
        width: 162px;
    }
    .mp133_4_1_add{
        column-gap: 10px;
    }

}
@media(max-width: 1307px){
    .mp133_4_1_do{
        font-size: 15px;
    }
    .mp133_4_1_do {
        width: 130px;
    }
    .quantity_inner {
        margin-left: 15px;
    }
}
@media(max-width: 1296px){
    .mp133_4_1_add{
        width: 150px;
    }
}
@media(max-width: 1280px){
    .mp133_4_1_add{
        width: 160px;
    }
}
@media (max-width:1279px){
    .mp1_3{
        flex-direction: column;
    }
    .mp1_3_1__1{
        justify-content: center;
    }
    .mp133_4_1{
        justify-content: center;
    }
    .mp1_3_3_3{
        display: flex;
        justify-content: center;
    }
    
}
@media (max-width:1227px){
    .mp133_4_1_sp2 {
        margin-left: 19px;
    }
    .mp133_4_1_sp {
        margin-left: 18px;
    }
}
@media (max-width:1297px){
    .usl_span_2 svg{
        width: 250px;
    }
    .uslug_span span {
        font-size: 27px !important;
    }
}
@media (max-width:1192px){
    .mp133_4_1_do {
        width: 144px;
        padding: 16px 38px 16px 0px;
    }
}
@media (max-width:1166px){
    .usl_span_2 svg {
        width: 189px;
    }
}
@media (max-width:1147px){
    .mp_1 {
        padding: 35px 20px 0 20px;
    }
}
@media (max-width:1099px){
    .uslug_span span {
        font-size: 23px !important;
    }
}
@media (max-width:985px){
    .mp133_4_1 {
        row-gap: 20px;
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }
    .mp133_4_main{
        width: 100%;
        column-gap: 50px;
        justify-content: center;
    }
    .mp133_4_main_2{
        flex-wrap: wrap;
        row-gap: 20px;
        width: 100%;
        justify-content: center;
    }
    .uslug_span span{
        width: 250px !important;
    }
    .mp133_4_1 {
        display: none;
    }
    .fld_25pr{
        display: flex;
        flex-direction: column;
    }
    .add_{
        width: 100%;
        background-color: #FBBA00;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        column-gap: 23px;
        border-radius: 5px;
        color: black;
    }
    .flg_093{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 13px;
        margin-bottom: 19px;
    }
    .glow{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width:895px){
    .uslug_span span {
        width: 187px !important;
    }
}
@media (max-width:845px){
    .mp1_3_3_2_1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .mp1_3_3_2 {
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width:843px){
    .uslug_span_2 svg {
        width: 133px !important;
    }
}
@media (max-width:650px){
    .mp1_4_1 a{
        text-align: center;
    }
    .z3{
        display: none;
    }
}
@media (max-width:619px){
    .mp133_4_1_sp{
        margin-left: 0;
    }
    .mp1_3_1_a{
        bottom: 12px;
    }
    .mp1_4_1 {
        justify-content: space-between;
    }
    .mp1_4_1 a{
        font-size: 19px;
    }
    .mp1_4_2_1 svg{
        width: auto;
    }
    .mp1_3_2{
        height: 500px;
    }
    .mp1_3_2 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width:540px){
    .mp1_4_1 a {
        font-size: 17px;
    }
}
@media (max-width:528px){
    .mp133_4_main {
        row-gap: 20px;
        flex-wrap: wrap;
    }
}
@media(max-width: 519px){
    .usl_span_2{
        display: none;
    }
    .second_max_block img{
        width: 100%;
    }
}
@media (max-width:500px){
    .mp1_3_1{
        width: 100%;
        display: flex;
        column-gap: 10px;
        flex-direction: unset;
    }
    .mp_1421_3{
        column-gap: 0;
    }
    .mp1_3_3_1 span{
        font-size: 24px;
    }
    .steps_div a{
        font-size: 11px;
    }
    .mp_1422_4, .mp_1422_5 :nth-child(2){
        display: none;
    }
    .mp1_4_3 span{
        font-size: 14px;
    }
    .mp1_4_2 span{
        font-size: 14px;
    }
    .mp1_4_1{
        column-gap: 0;
        justify-content: space-between;
    }
    .mp1_4_2_2 div{
        justify-content: space-between;
    }
    .mp_1421_2{
        column-gap: 0;
    }
    .mp1_4_2_1 div{
        justify-content: space-between;
    }
    .mp1_4_1 span{
        font-size: 16px;
    }
    .show_all_local{
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        color: #7F7F7F;
        padding-right: 20px;
        padding-top: 10px;
    }
    .z3{
        display: none;
    }
    .procent_25{
        border: 1px solid;
        height: 52px;
        width: 189px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }
    .photo_and_procent{
        display: flex;
        align-items: center;
        column-gap: 17px;
        border: 1px solid #FBBA00;
        width: 129px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .mp1_3_3_2_2{
        display: none;
    }
    .div_together_now{
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    .mp133_2_span, .mp133_2_a, .mp133_2_span_2{
        font-size: 22px;
    }
    .mp1_3_3_2 hr{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 19px;
    }
    .mp1_3_2{
        height: 100%;
    }
    .mp1_3_3{
        margin-top: 40px;

    }
    .mp1_3_2 img{
        width: 235px;
        height: 352px;
    }
    .mp1_3_1_a{
        display: none;
    }
    .mp1_3_3_1{
        column-gap: 0;
    }
    .mp1_3_1_a {
        bottom: -29px;
        left: 36px;
    }
    .mp1_3_3_1 span {
        width: 421px;
    }
    /* .mp1_3_1_1_main{
        display: flex;
        flex-direction: unset;
    } */
}
@media (max-width:450px){
    .uslug_span svg{
        display: none;
    }
    
}
@media (max-width:432px){
    .mp1_3_1_a {
        right: 3px;
    }
    .uslug_span span{
        font-size: 17px !important;
    }
    .uslug_a{
        font-size: 11px;
    }
}
@media(max-width: 414px){
    .mp1_3_3_1 span{
        text-align: center;
        margin-top: 20px;
    }
    section{
        padding-top: 110px !important;
    }
    .uslug{
        padding-left: 29px !important;
    }
    .uslug_span span{
        width: unset !important;
    }
    footer{
        margin-top: 0 !important;
    }
    .m6_slider_88 .slick-list, .m6_slider .slick-list{
        height: 542px !important;
    }
    .m6_slider .slick-list {
        height: 542px !important;
    }
    .m6_slider_88 .slick-list{
        height: 517px;
    }
    .scb_slider_prev_33, .scb_slider_next_33{
        top: 42% !important;
    }
    .scb_slider_prev_88, .scb_slider_next_88{
        top: 42% !important;
    }
}
@media(max-width: 375px){
    .mp133_2_span{
        font-size: 22px !important;
    }
}
@media (max-width:399px){
    .mp133_2_span {
        font-size: 26px;
    }
}
@media (max-width:364px){
    .mp1_3_2 {
        height: 230px;
        width: 195px;
        margin-left: 61px;
    }
    .mp1_3_1_a {
        bottom: -9px;
        right: 1px;
    }
}
@media (max-width:343px){
    .mp133_2_span {
        font-size: 23px;
        margin-left: 0;
    }
}
@media(max-width: 320px){
    .uslug_span{
        column-gap: 9px;
    }
}