*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
.padding_left_div{
    padding: 0 102px 0 103px;
}
.media_here{
    display: none;
}
.quantity_inner .bt_minus, .quantity_inner .bt_plus, .quantity_inner .quantity{
    background: transparent !important;
}
.main_rec_bin_text_div{
    padding-top: 35px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 35px;
}
.wheels_rec_bin_buy:hover{
    border: 1px solid #FBBA00;
}
.media_recover_div{
    width: 500px;
    font-size: 33px;
}
.main_rec_bin_text_div a{
    text-decoration: none;
    color: #282828;
    font-size: 16px;
}
.some_under_links  a:hover{
    color: #FBBA00;
}
.some_under_links a:hover svg path{
    fill: #FBBA00;
}
.fld_div_recbin{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.main_rec_bin_under_text{
    font-size: 40px;
    font-weight: 700;
    margin-top: 35px;
}
.condition_div{
    display: flex;

    column-gap: 60px;
}
.an_rec_div{
    display: flex;
    align-items: center;
    column-gap: 19px;
    padding-top: 7px;
}
.global_rec_bin_buy_form{
    display: flex;
}
.all_same{
    font-size: 30px;
}
.sale_big{
    font-size: 30px;
}
.global_final_request a{
    color: #282828;
    text-decoration: none;
    font-size: 20px;
    background-color: #FBBA00;
    padding: 19px 123px 19px 132px;
    border-radius: 5px;
    border: 1px solid #FBBA00;
}
.global_final_request a:hover{
    background-color: #ffffff;
    color: #FBBA00;
    transition: .2s ease;
    border: 1px solid #FBBA00;
    
}
.sale_red{
    color: red;
    font-size: 30px;
}
.global_final_request{
    padding: 63px 35px 43px 29px;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.15);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 484px;
    row-gap: 19px;
    height: 100%;
    margin-top: 25px;
    border-radius: 10px;

}
.prices_final{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wheel_div_bin{
    display: flex;
    padding-right: 45px;
}
.some_under_links{
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    align-items: center;
}
.some_under_links a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
}
.together_div{
    display: flex;
}
.cond_import{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.wheels_rec_bin_buy{
    margin-top: 26px;
    border: 1px solid #282828;
    border-radius: 10px;
    height: 100%;
    padding: 30px 46px 15px 29px;
}
.rec_bin_condition_bold{
    font-size: 25px;
    font-weight: 700;
}
.bit_bold_text{
    font-size: 18px;
    color: #282828;
}
.bit_easy_text{
    font-size: 18px;
    color: #686868;
}
.counting_system{
    display: flex;
    column-gap: 53px;
}
.counting_system span{
    font-size: 35px;
    font-weight: 700;
}
/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 38px;
    padding: 0 5px;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #FBBA00;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #FBBA00;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
   
.ways_of_get{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    padding-top: 87px;
}
.samovizov{
    font-size: 20px;
    color: #282828;
    border-bottom: 1px solid #FBBA00;
    text-decoration: none;
}
.deliveryzov{
    font-size: 20px;
    color: #282828;
    text-decoration: none;
}
.delivery_options{
    display: flex;
    align-items: center;
    column-gap: 53px;
    padding-top: 18px;
}
.first_max_div_column{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 31px 104px 25px 55px;
}
.first_max_div_column a{
    display: flex;
    align-items: center;
    column-gap: 33px;
}
.border_fot button{
    border: 1px solid;
    display: flex;
    column-gap: 33px;
    padding: 16px 28px 16px 23px;
    border: 1px solid #FBBA00;
    background-color: white;
    border-radius: 5px;
    font-size: 23px;
    align-items: center;
}
.border_fot button:hover{
    background-color: #FBBA00;
    color: white;
    transition: .3s ease;
    cursor: pointer;
}
.border_fot{
    text-decoration: none;
    font-size: 23px;
}
.maxwork{
    display: flex;
    column-gap: 40px;
    margin-top: 22px;
}
.second_max_block{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.second_max_block img{
    width: 500px;
    height: 100%;
}
.sxema{
    font-size: 26px;
}
.map_korzina{
    padding-right: 395px;
    margin-top: 29px;
}
.name_surn{
    display: flex;
    column-gap: 30px;
    padding-top: 43px;
    padding-bottom: 30px;
}
.ways_inp{
    font-size: 40px;
    font-weight: 700;
}
.flex_bin{
    display: flex;
    column-gap: 25px;
}
.name_div_column{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.name_div_column input{
    width: 410px;
    padding: 20px 0 20px 0;
    border: 1px solid #C4C4C4;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    background-color: #EAEAEA;
}
.name_div_column span{
    color: #282828;
}
.input_flex{
    display: flex;
    margin-top: 42px;
    flex-direction: column;
    row-gap: 26px;
}
.payement_rec{
    font-size: 25px;
    color: #282828;
}
.terms_conditions{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.terms_conditions span a{
    color: #FBBA00;
}
.rowgap{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.ahref_rec button{
    padding: 15px 67px 15px 67px;
    background-color: #FBBA00;
    border: 1px solid #FBBA00;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 82px;
}
.ahref_rec button:hover{
    background-color: white;
    color: #FBBA00;
    transition: .3s ease;
    border: 1px solid #FBBA00;
}
@media(max-width: 1883px){
    .condition_div{
        column-gap: 40px;
    }
}
@media(max-width: 1851px){
    .condition_div{
        column-gap: 20px;
    }
}
@media(max-width: 1837px){
    .an_rec_div{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5px;
    }
    .some_under_links{
        padding-top: 15px;
    }
}
@media(max-width: 1753px){
    .counting_system {
        column-gap: 30px;
    }
}
@media(max-width: 1730px){
    .global_rec_bin_buy_form{
        flex-direction: column-reverse;
    }
    .wheels_rec_bin_buy{
        margin-right: 200px;
    }
}
@media(max-width: 1443px){
    .maxwork{
        flex-direction: column;
        row-gap: 20px;
    }
}
@media (max-width: 1431px){
    .wheels_rec_bin_buy{
        padding: 30px 15px 15px 15px;
    }
}
@media(max-width: 1386px){
    .wheel_div_bin{
        padding-right: 10px;
    }
}
@media(max-width: 1351px){
    .condition_div{
        flex-direction: column;
    }
    .quantity .input-text.qty{
        height: 42px;
    }
    .quantity.buttons_added .minus, .quantity.buttons_added .plus{
        height: 42px;
    }
    .counting_system{
        padding-top: 10px;
    }
    .wheel_div_bin img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .some_under_links{
        padding-right: 50px;
    }
}
@media(max-width: 1024px){
    .global_rec_bin_buy_form{
        align-items: center;
    }
    .wheels_rec_bin_buy{
        margin: 20px 0;
    }
    .main_rec_bin_under_text{
        display: flex;
        justify-content: center;
    }
    .main_rec_bin_text_div{
        justify-content: center;
    }
    .map_korzina{
        padding-right: 35px;
    }
}
@media(max-width: 960px){
    .flex_bin{
        flex-direction: column;
        row-gap: 30px;
    }
}
@media(max-width: 753px){
    .ways_inp{
        font-size: 20px;
    }
    .ways_of_get{
        font-size: 20px;
    }
}
@media(max-width: 693px){
    .first_max_div_column{
        padding: 31px 35px 25px 35px;
    }
}
@media(max-width: 666px){
    .media_recover_div{
        width: 100%;
    }
}
@media(max-width: 656px){
    .some_under_links{
        padding-right: 0;
        justify-content: center;
    }
    .dobavit_v_pleist{
        display: none;
    }
}
@media(max-width: 604px){
    .first_max_div_column{
        padding: 31px 10px 25px 10px;
    }
    .map_korzina {
        margin-right: 0;
    }
    .ahref_rec button{
        width: 100%;
    }
}
@media(max-width: 593px){
    .global_final_request {
        display: none;
    }
}
@media(max-width: 554px){
    .padding_left_div{
        padding: 0 15px 0 15px;
    }
}
@media(max-width: 535px){
    .together_div{
        flex-direction: column;
        row-gap: 10px;
    }
    .ways_of_get{
        justify-content: center;
    }
    .name_surn{
        justify-content: center;
    }
}
@media(max-width: 500px){
    .together_div{
        flex-direction: unset;
    }
    .rec_bin_condition_bold{
        font-size: 14px;
    }
    .main_rec_bin_under_text {
        font-size: 22px;
    }
    .bit_easy_text, .bit_bold_text, .counting_system span{
        font-size: 12px;
    }
    .comp_none{
        display: none;
    }
    .media_here{
        display: block;
    }
    .counting_system{
        align-items: center;
        column-gap: 13px;
    }
    .bit_bold_text{
        display: none;
    }
    .notappear{
        display: block !important;
    }
    .some_under_links{
        justify-content: flex-end;
    }
    .notappear_2{
        display: block !important;
    }
    .fruyt{
        display: flex;
        column-gap: 3px;
    }
}
/* @media(max-width: 470px){
    .counting_system{
        flex-direction: column;
        row-gap: 15px;
    }
} */
@media(max-width: 435px){
    .name_div_column input{
        width: 100%;
        padding-right: 35px;
    }
}
@media(max-width: 390px){
    .bit_easy_text{
        font-size: 10px;
    }
    .quantity_inner{
        margin-left: 0 !important;
    }
}
@media(max-width: 379px){
    .border_fot button {
        column-gap: 10px;
    }
}
